<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Bank of Simba</title>
</head>
<body>
<h1>Bank of Simba</h1><br>
<table class="table">
    <thead>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>Royal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="acc : ${accounts}">
        <td th:text="${accStat.index}"></td>
        <td th:text="${acc.getName()}"></td>
        <td th:text="'Ƶ ' + ${#numbers.formatDecimal(acc.getBalance(), 0, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${acc.getAnimalType()}"></td>
        <td th:text="${acc.isKing()} ? 'King' : 'Not a king'"></td>

    </tr>
    </tbody>
</table>
</body>
</html>