<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition store</title>
</head>
<body>
<form method="post" action="/change-nutrition/">
    <select name="food">
        <option value="pizza">Pizza</option>
        <option value="salad">Salad</option>
        <option value="kebab">Kebab</option>
    </select>

    <select name="drink">
        <option value="lemonade">Lemonade</option>
        <option value="cola">Cola</option>
        <option value="tea">Tea</option>
    </select>

    <button type="submit">Change</button>

</form>
</body>
</html>