<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todo : ${todos}"
                    th:style="${todo.isUrgent()} ? 'background-image: linear-gradient(to right, #f0cece, #e6b1b3, #db9598, #cf7880, #c25b68);' : 'background-image: linear-gradient(to right, #bdedbf, #a7e3a7, #92d88e, #7dcd75, #68c25b);'">
                    <td><a th:href="@{${todo.getId() + '/detail'}}"><span th:text="${todo.getTitle()}"></span></a></td>
                    <td th:text="${todo.getCreated()}"></td>
                    <td><a class="btn btn-success" th:href="@{${todo.getId() + '/remove'}}" role="button">Remove</a></td>
                    <td><a class="btn btn-primary" th:href="@{${todo.getId() + '/edit'}}" role="button">Edit</a></td>
                    <td><a class="btn btn-warning" th:href="@{${todo.getId() + '/completed'}}" role="button">Completed</a></td>
                </tr>
                <tr>
                    <form action="#" th:action="@{/add}" th:object="${newTodo}" method="POST">
                        <td></td>
                        <td><input type="text" th:field="*{title}"></td>
                        <td><input type="checkbox" th:field="*{urgent}" th:value="*{urgent}"></td>
                        <td></td>
                        <td><input type="submit" class="btn btn-info" value="To do"></td>
                    </form>
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>

</body>
</html>